@font-face {
   font-family: cubano;
   src: url(../fonts/cubano.ttf);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
   font-family: cubano;
}

body {
   background-color: $primary-color;
   font-size: 1.6rem;
}
